/HWTest/CourseSiteGenerator/build/
/HWTest/CourseSiteGenerator/dist/
/HWTest/CourseSiteGenerator/nbproject/private/
/HWTest/PropertiesManager/build/
/HWTest/PropertiesManager/dist/
/HWTest/PropertiesManager/nbproject/private/
/HWTest/TAManagerTester/nbproject/private/
/HWTest/DesktopJavaFramework/dist/
/HWTest/DesktopJavaFramework/build/
/HWTest/DesktopJavaFramework/nbproject/private/